@font-face {
    font-family: "Palatino";
    src: url(../fonts/pala.ttf);
}

@font-face {
    font-family: "Univers Next Pro - X Black Ext";
    src: url(../fonts/Univers\ Next\ Pro\ XBlack\ Ext.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    /* border:0.5px solid red !important; */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    max-width: 100%;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0 0 0 20px inset;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url('../img/covering_img/801076_SU23_RN_PEG-40_AB_JA_TECSON_MARIEL_GONZALEZ_PERFORMANCE_10701_HR@1.5x\ \(4\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_tagline{
    margin: 0 auto;
    margin-top: -130px;
}

.goals {
    font-family: "Palatino", sans-serif;
    text-align: center;
    background-image: url('../img/goals_section/T2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fbe261;
}

.goals_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.goals_title {
    margin-top: 35px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.62px;
}

.goals_subtitle {
    max-width: 762px;
    margin-top: 15px;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1.08px;
}

.goals_img{
    width: 500px;
    height: 350px;
    margin-top: 65px;
}

.loop-container {
    margin-top: 104px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}
  
.marquee {
    animation: marquee 10s linear infinite;
    white-space: nowrap;
    display: flex;
    gap: 10px;
}
  
.marquee img {
    flex-shrink: 0;
    height: 100%;
}
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.approach {
    padding-top: 60px;
    background-image: url('../img/approach/T1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fbe261;
}

.approach_wrapper {
    display: flex;
    justify-content: space-between;
}

.approach_title {
    width: 200px;
    color: #ef4225;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 56px;
    font-weight: 400;
    line-height: 52.09px;
    letter-spacing: -1.6px;
}

.prior_title {
    margin-top: 40px;
    width: 358px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1.48px;
}

.prior_img {
    width: 490px;
    height: 633px;
    margin-top: 44px;
}

.phases_title {
    margin-top: 40px;
    width: 239px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1.48px;
}

.exec_phases {
    padding-right: 150px;
}

.phases_wrap {
    margin-top: 30px;
}

.phase_elem {
    margin-top: 40px;
    color: #ef4225;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.phase_title{
    width: 100px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.4px;
}

.phase_sub {
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.48px;
}

.phase_text {
    font-family: "Palatino", sans-serif;
    margin-top: 15px;
}

.roadmap {
    padding-top: 16px;
    font-family: Palatino, sans-serif;
    text-align: center;
    background-image: url('../img/roadmap_land/T5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fbe261;
}

.roadmap_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
.land_descr {
    position: relative;
    text-align: left;
    grid-row:1/4;
    grid-column:1/3;
    z-index: 1;
} 

.land_img {
    margin-left: -200px;
    grid-row: 1/2; 
    grid-column: 2/ 4; 
}

.land_img img{
    width: 800px;
    height: 500px;
}

.land_title {
    width: 67px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 22px;
    font-weight: 400;
    line-height: 52.09px;
    text-align: left;
    letter-spacing: -0.63px;
}

.land_sub {
    color: #fbe061;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 56px;
    font-weight: 400;
    line-height: 52.09px;
    letter-spacing: -1.6px;
    margin-bottom: 40px;
}

.shop_descr {
    width: 284px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 700;
    letter-spacing: -1.48px;
}

.land_text {
    text-align: left;
    margin-top: 14px;
    width: 277px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
}

.roadmap_pics {
    display: grid;
}

.roadmap_slider {
    margin-top: -30px;
    width: 550px;
    grid-row:1/4;
    grid-column:1/3;
}

.roadmap_slider__add {
    margin-top: 20px;
    grid-row: 1/6; 
    grid-column: 2 / 4; 
}

.roadmap_slider__add img{
    object-fit: cover;
    width: 400px;
    height: 300px;
}

.statistics{
    display: flex;
    justify-content: space-around;  
}

.views_sells {
    margin-top: 40px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.views_sells_media {
    position: relative;
}

.iphone_frame {
    top: -10px;
    left: 0;
    position: absolute;
}


.views_sells_media video{
    width: 261px;
    height: 510px;
    border-radius: 45px;
}

.views_sells__title {
    color: #fbe061;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 47px;
    font-weight: 400;
    line-height: 61.27px;
    text-transform: uppercase;
    letter-spacing: -1.14px;
}

.roadmap_line {
    margin-top: 30px;
    margin-bottom: 15px;
    border: 1px solid #fbe061;
    width: 100%;
    height: 0;
    opacity: 0.5;
}

.pros_list{
    display: flex;
    
}

.roadmap_pros{
    margin-left: 45px;
}

.roadmap_pros:first-child{
    margin-left: 0px;
}

.roadmap_perc {
    color: #fbe061;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 26px;
    font-weight: 400;
    line-height: 52.23px;
    text-align: left;
    letter-spacing: -1.09px;
}

.perc_descr {
    width: 110px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 13px;
    font-weight: 400;
    line-height: 14.49px;
    text-align: left;
    letter-spacing: -0.36px;
}

.pros_texts {
    display: flex;
    justify-content: space-between;
}

.pros_text  {
    width: 186px;
    height: 55px;
    color: #fbe061;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    font-family: "Palatino";
    letter-spacing: -0.31px;
}

.retail_link {
   margin: 0 auto;
   padding: 40px;

}

.retail_link a{
    color: #fbe061;
    border-radius: 2px;
    border: 1px solid #fbe061;
    font-style:italic;
    padding: 23px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo_sun{
    display: block;
    margin-left: -75px;
}

.marathon_wrapper{
    display: flex;
    justify-content: space-around;
}


.marathon_slider{
    width: 400px;
    margin-right: 250px;
    margin-top: -180px;
}


.marathon_descr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.marathon_title {
    width: 300px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -1.48px;
}

.marathon_text {
    width: 300px;
    margin-top: 30px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.roadmap_promises {
    margin-top: 71px;
    display: flex;
    justify-content: space-between;
}

.roadmap_promise {
    text-align: left;
    width:150px;
}

.promise_title {
    color: #fbe061;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 22px;
    font-weight: 400;
    line-height: 52.4px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -1.09px;
}

.promise_text {  
    color: #fbe061;
    font-family: "Palatino";
    font-size: 13px;
    font-weight: 400;
    line-height: 14.54px;
    text-align: left;
    letter-spacing: -0.36px;
}

.journal_list {
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.journal_list img {
    flex-shrink: 0;
}

.blog_wrapper {
    margin-top: 90px;
    display: flex;
}


.blog_title {
    color: #fbe061;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -1.48px;
}

.blog_text {
    margin-top: 26px;
    width: 397px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.descr_img {
    margin-top: 38px;
}

.blog_content {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.blog_content_media {
    position: relative;
}

.blog_content_media:first-child {
    margin-left: 70px;
}

.blog_content video {
    border-radius: 45px;
}

.iphone_frame_seeding{
    top: -4px;
    height: 500px;
}

.iphone_frame_seeding:last-child{
    top: -10px;
}

.blog_content_descr {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.content_elem_wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;  
}

.content_title {
    margin-top: 40px;
    width: 331px;
    color: #fbe061;
    font-family: "Palatino";
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.72px;
    font-weight: 400;
}

.blog_content_title {
    color: #fbe061;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 26px;
    font-weight: 400;
    line-height: 52.4px;
    text-align: left;
    letter-spacing: -1.09px;
}

.blog_content_elem {
    margin-right: 80px;
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blog_content_elem:last-child {
    margin-right: 0px;
}

.create_the_world {
    padding-top: 60px;
    background-image: url('../img/approach/T1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fbe261;
}

.ctw_descr {
    display: flex;
    justify-content: space-between;
}

.ctw_descr_wrapper{
    max-width: 800px;
}

.ctw_title {
    color: #ef4225;
    font-family: "Palatino";
    font-size: 22px;
    font-weight: 400;
    line-height: 52.09px;
    text-align: left;
    letter-spacing: -0.63px;
}

.ctw_sub {
    color: #ef4225;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 56px;
    font-weight: 400;
    line-height: 52.09px;
    text-align: left;
    letter-spacing: -1.6px;
}

.ctw_descr {
    margin-top: 41px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -1.48px;
}

.ctw_text {
    margin-top: 14px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.cities_menu {
    margin-top: 32px;
}

.world_menu {
    text-align: center;
}

.tab_content{
    margin-top: -50px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab_img {
    margin-top: 30px;

}

.world_menu {
    list-style: none;
}

.world_menu button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ef4225;
    font-size: 19px;
    font-family: "Palatino";
    position: relative;
    display: inline-block;
    padding: 10px 20px;
}

.world_menu button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color:#ef4225;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.world_menu button:hover::after, .world_menu button.active::after {
    transform: scaleX(1);
}

.world_tab_content{
    flex: 1;
}

.tab_img{
    flex: 1;
}

.cities_tab_img{
    margin-top: 100px;
}

.world_tab_title {
    max-width:225px;
    color: #ef4225;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1.08px;
}

.world_tab_text {
    margin-top: 23px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.world_tab_button{

    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-style: italic;

}

.world_tab_button a{
    color: #ef4225;
    text-decoration: none;
    border: 1px solid #ef4225;
    padding: 9px 40px;
}

.tab_content {
    display: none;
}

.tab_content.active {
    display:flex;
}

.ctw_info {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.ctw_info_elem {
    width: 150px;    
}
.ctw_info_elem{
    width: 150px;    
}

.ctw_text_title {
    color: #ef4225;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1.03px;
}

.ctw_text_sub {
    color: #ef4225;
    font-family: "Palatino";
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.52px;
}

.ctw_slider {
    width: 300px;
    height: 300px;
}

.tab_img img {
    width:300px;
    height:300px;    
    object-fit: cover;
}

.world_container {
    max-width:800px;
    margin: 0 auto;
}

.ctw_slider{
    margin: 0;
}

.marketplace_partners{
    margin-top: 109px;
}

.partners_title {
    color: #ef4225;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -1.48px;
}

.partners_text {
    margin-top: 23px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}


.marketplace_menu {
    text-align: center;
    margin-top: 34px;
}

.partners_menu button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ef4225;
    font-size: 19px;
    font-family: "Palatino";
    position: relative;
    display: inline-block;
    padding: 10px 20px;
}

.partners_menu button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color:#ef4225;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.partners_menu button:hover::after, .partners_menu button.active::after {
    transform: scaleX(1);
}

.partners_tab_descr{
    display: flex;
    flex-direction:column;
    width: 60%;
    margin-left: 90px;
}

.partners_tab_title{
    color: #ef4225;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1.08px;
}

.partners_tab_texts {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.partners_tab_text{
    width: 170px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.partners_tab_content {
    display: none;
}

.partners_tab_content.active {
    margin-top: 20px;
    display:flex;
    align-items: center;
}

.stats_wrapper{
    margin-top: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats_elem{
    text-align: left;
    width: 130px;
    margin-left: 15px;
}

.stats_spec {
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.stats_title {
    color: #ef4225;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1.08px;
}

.stats_def {
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.partners_tab_button {
    text-align: left;
    margin-top: 30px;
}

.partners_tab_button a{
    border: 1px solid #ef4225;
    padding: 9px 88px;
    text-decoration: none;
    color:#ef4225;
}

.auth_texts {
    display: flex;
    margin-top: 40px;
}

.auth_text {
    width: 300px;
    color: #ef4225;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.auth_elem {
    margin: 0;
}
.auth_elem:last-child{
    margin-right: 70px;
}

.perf_slider {
    object-fit: cover;
    width: 360px;
    height: 360px;
}

.perf_img {
    width: 30%;
    padding-top: 250px;
}


.invite_to_join {
    padding-top: 60px;
    background-image: url('../img/invite_section/T5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.invite_title {
    margin-top: 84px;
}

.invite_text{
    margin-top: 40px;
}

.invite_container {
    max-width:1000px;
    margin: 0 auto;
}

.invite_wrapper {
    display: flex;
    justify-content: space-between;
}

.invite_img {
    margin-top: -100px;
}

.invite_text {
    width: 481px;
}

.invite_routine_wrapper{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invite_routine_elem {
    position: relative;
    color: #fbe261;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.invite_routine_elem_video{
    margin-left: 70px;
}

.invite_elem_wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.invite_part {
    width: 25%;
    margin-top: 30px;
    margin-left: 50px;
}

.invite_part_title {
    color: #fbe061;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 26px;
    font-weight: 400;
    line-height: 52.4px;
    text-align: left;
    letter-spacing: -1.09px;
}

.invite_button{
    margin-top: 50px;
}

.invite_button a{
    color: #fbe061;
    border-radius: 2px;
    border: 1px solid #fbe061;
    font-style:italic;
    padding: 23px 16px;
    text-decoration: none;
}

.invite_routine_elem_video video {
    border-radius: 45px;
}

.goals_video {
    width: 800px;
    height: 600px;
}

.tiktok_title{
    color: #fbe261;
    font-family: "Palatino";
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -1.48px;
}

.tiktok_descr { 
    width: 394px;
    margin-top: 40px;
    color: #fbe261;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.tiktok_partnership_wrapper{
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
}

.tiktok_videos{
    margin-left: 50px;
    display: flex;
}

.tiktok_videos_spec{
    position: relative;
}

.tiktok_videos_spec:last-child{
    margin-left: 50px;
    position: relative;
}


.tiktok_videos video {
    border-radius: 45px;  
}

.tiktok_elems{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tiktok_part {
    height: 150px;
    width: 120px;
}

.invite_part_text { 
    color: #fbe061;
    font-family: "Palatino";
    font-size: 13px;
    font-weight: 400;
    line-height: 14.54px;
    text-align: left;
    letter-spacing: -0.36px;
}

.aop_container{
    margin: 0 auto;
    max-width: 930px;
}

.always_prog {
    padding-top: 60px;
    background-image: url('../img/always_on_programming/T4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aop_img img{
    object-fit: contain;
    width: 400px;
    height: 400px;
}

.aop_wrapper{
    align-items: center;
}

.aop_title{
    color: #ef4225;
}

.aop_sub {
    color: #ef4225;
}

.aop_text{
    color: #ef4225;
    width: 400px;
}

.aop_video_title{
    color: #ef4225;
    font-family: "Palatino";
    font-size: 22px;
    font-weight: 400;
    line-height: 52.09px;
    letter-spacing: -0.63px;
}

.aop_video{
    position: relative;
    margin-top: 20px;
}

.aop_video video{
    border-radius: 45px;  
}

.aop_video_wrapper {
    display: flex;
    justify-content: space-between;
}

.iphone_frame_aop{
    top: -8px;
}

.aop_video_elem{
    text-align: center;
}

.key_learnings {
    padding-top: 60px;
    background-image: url('../img/key_learnings/T5\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.key_learnings_title {
    color: #fbe061;
}

.key_learnings_sub {
    color: #fbe261;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.learnings_algo_wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.learnings_algo_elem {
    width: 270px;
}

.learnings_algo_title {
    color: #fbe261;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.learnings_algo_text {
    margin-top: 10px;
    color: #fbe261;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.whats_next{
    padding-top: 60px;
    background-image: url('../img/whats_next/T6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.whats_next_wrapper{
    display: flex;
    justify-content: space-between;
}

.whats_next_elem{
    width: 300px;
}

.whats_next_title{
    color: #fbe261;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 37px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1.48px;
}

.whats_next_text {
    margin-top: 57px;
    color: #fbe261;
    font-family: "Palatino";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.72px;
}

.thank_you{
    padding-top: 60px;
    background-image: url('../img/a_huge_thank/801076_SU23_RN_PEG-40_AB_S_TECSON_J_TECSON_PERFORMANCE_08837_HR.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thank_descr{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank_title{
    color: #fae061;
    font-family: "Univers Next Pro - X Black Ext";
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1.92px;
}

.thank_sub {
    margin-top: 40px;
    text-shadow: 0 0 21px #000000;
    color: #fae061;
    font-family: "Palatino";
    font-size: 28px;
    width: 860px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.12px;
}

.thank_img {
    margin-top: 200px;
}